<div ng-controller="cajaController" style="margin-left: 120px">
	<div class="row container" style="margin-top: 70px">
		<div class="col s12 ">
			<ul class="tabs">
				<li class="tab col s3"><a class="font-menu" href="#caja1">Registrar Precio Caja</a></li>
				<li class="tab col s3"><a class="font-menu" href="#caja2">Sacar Efectivo</a></li>
			</ul>
		</div>
		<div id="caja1" class="col s12">
			<div style="background-color: #FFF;">
				<div class="divider"></div><br>
				<div class="fixed-action-btn" >
					<a class="btn-floating btn-large waves-effect waves-light teal" style="float: left;" ng-click="nuevo()" title="Guardar"><i class="material-icons">add</i></a>	
				</div>
				<table class="striped responsive-table">
					<thead>
						<tr>
							<th>Usuario</th>
							<th>Valor</th>
							<th>Opciones</th>	
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="caja in arrayCaja">
							<td>{{caja.nombre_apellido}}</td>
							<td>{{caja.valor | currency}}</td>
							<td>
								<center>
									<a href="" ng-click="get(caja)">
										<i class="material-icons prefix">mode_edit</i>
									</a>
								</center>
							</td>
						</tr> 
					</tbody>
				</table>
			</div>
		</div>
		<div id="modalacaja1" class="modal modal-fixed-footer">
			<div class="modal-content">
      			<center><h4>{{title}}</h4></center>
      			<div class="row">
      				<div class="input-field col s3"></div>
  					<div class="input-field col s6">
						<input type="text" maxlength="20" name="usuario" ng-model="Caja.valor">
						<label class="{{active}}">Valor</label>
					</div>
      			</div>
    		</div>
    		<div class="modal-footer">
      			<a href="" class="modal-action modal-close waves-effect waves-light btn red" style="margin-left: 5px;">Salir</a>
      			<a href="javascript:;" class="waves-effect waves-light btn green" ng-click="guardar()" ng-hide="editMode">Guardar</a>
      			<a href="javascript:;" class="waves-effect waves-light btn green" ng-show="editMode" ng-click="modificar();">Actualizar</a>
    		</div>
		</div>
		<div id="caja2" class="col s12">
			<div style="background-color: #FFF;">
				<div class="divider"></div><br>
				<div class="fixed-action-btn" >
					<a class="btn-floating btn-large waves-effect waves-light teal" style="float: left;" ng-click="nuevoefectivo()" title="Guardar"><i class="material-icons">add</i></a>	
				</div>
				<table class="striped responsive-table">
					<thead>
						<tr>
							<th>Usuario</th>
							<th>Valor</th>
							<th>Fecha Y Hora</th>
							<!--<th>Opciones</th>-->
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="efectivo in arrayEfectivo">
							<td>{{efectivo.nombre_apellido}}</td>
							<td>{{efectivo.valor | currency}}</td>
							<td>{{efectivo.fechaingreso}} {{efectivo.hora}}</td>
							<td>
								<!--<center>
									<a href="" ng-click="getefectivo(efectivo)">
										<i class="material-icons prefix">mode_edit</i>
									</a>
								</center>-->
							</td>
						</tr> 
					</tbody>
				</table>
			</div>
		</div>
		<div id="modalacaja2" class="modal modal-fixed-footer">
			<div class="modal-content">
      			<center><h4>{{title}}</h4></center>
      			<div class="row">
      				<div class="input-field col s3"></div>
  					<div class="input-field col s6">
						<input type="text" maxlength="20" name="usuario" ng-model="Efectivo.valor">
						<label class="{{active}}">Valor</label>
					</div>
      			</div>
    		</div>
    		<div class="modal-footer">
      			<a href="" class="modal-action modal-close waves-effect waves-light btn red" style="margin-left: 5px;">Salir</a>
      			<a href="javascript:;" class="waves-effect waves-light btn green" ng-click="guardarefectivo()" ng-hide="editMode">Guardar</a>
      			<a href="javascript:;" class="waves-effect waves-light btn green" ng-show="editMode" ng-click="modificarefectivo();">Actualizar</a>
    		</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
    	$('ul.tabs').tabs();
    	$('.tooltipped').tooltip({delay: 50});
  	});
</script>